* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Cormorant SC', serif; */
    /* font-family: 'DM Serif Display', serif; */
    
}

a {
    text-decoration: none;
    color: caf0f8;
}


@font-face {
    font-family: Frontman;
    src: url(./tipografia/rock/The\ Frontman.ttf)
}

.list-nav {
    font-family: Frontman;
}

@font-face {
    font-family: Frontman;
    src: url(./tipografia/rock/The\ Frontman.ttf);
}

.boton {
    font-family: Frontman;
}

.header {
    height: vh;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 001829;
}

.list-nav {
    list-style: none;
    display: flex;
    gap: 45px;

}

.header img {
    height: 295%;
}

.logo {
    height: 40%;
    position: absolute;
    justify-content: center;
    top: 25px;
    left: 300px;
    margin-top: 80;
}

.section-inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
    gap: 100px;
    height: 50vh;
    background-color: 002137;
    
}

.container-inicio {
    width: 18%;
    
}

.container-inicio p {
    font-family: 'Tiro Gurmukhi', serif;
    font-size: 1.2em;
    font-weight: 300;
    color: caf0f8;
}

.container-inicio button {
    width: 50%;
    height: 50px;
    background-color: 001523;
    color: caf0f8;
    font-size: 1em;
    font-weight: 100;
    border-radius: 12px;
    border-style: none;
    margin-top: 40px;
    min-width: 190px;
}






