* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Cormorant SC', serif; */
    /* font-family: 'DM Serif Display', serif; */
    
}

a {
    text-decoration: none;
    color: caf0f8;
}


@font-face {
    font-family: docktrin;
    src: url(./tipografia/Docktrin/docktrin.ttf)
}

.list-nav {
    font-family: doctrin;
}

@font-face {
    font-family: doctrin;
    src: url(./tipografia/Docktrin/docktrin.ttf);
}

.boton {
    font-family: doctrin;
}

@font-face{
    font-family: Rosela;
    src: url(./tipografia/rosela/Rosela.ttf);
}

.frase {
    font-family: Rosela;
}

.frase2 {
    font-family: Rosela;
}

.titulo {
    font-family: Rosela;
}

p {
    font-family: Rosela;
}

.titulo2 {
    font-family: doctrin;
}

.header {
    height: 8vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 001829;
}


.list-nav {
    list-style: none;
    display: flex;
    gap: 80px;
}


.body {
    background-color: 00253D;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: caf0f8;
    font-size: 3em;
    font-weight: 50;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.contenedor {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenedor-turno {
    width: 70%;
    height: 55%;
    border-radius: 20px;
    box-shadow: 1px 1px 13px 8px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 1px 1px 13px 8px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 1px 1px 13px 8px rgba(0,0,0,0.75) inset;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 70%;
    margin-top: 30px;
    margin-left: 25px;
}

.contenedor p { 
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    height: 15%;
    color: caf0f8;
    font-size: 1.8em;
    font-weight: 300em;
    
}

.boton {
    
    width: 40%;
    background-color: 001523;
    color: caf0f8;
    font-size: 1.5em;
    font-weight: 50em;
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
}

.about { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: 000C14; 
    font-size: 28px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 90 70px; 
    overflow: hidden; 
    padding: 10px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;}

.titulo2 {
    display: flex;
    justify-content: center;
    color: caf0f8;
    font-size: 70px;
    font-weight: 50;
    text-shadow: -2px 4px 5px rgba(0,12,20,0.52);
}

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.card {
    width: 10%;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    
}





.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card h4 {
    font-weight: 600;
}
.card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
    



/*.contenedor-servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.corte {
    width: 25%;
    color: 000C14; 
    font-size: 28px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 70px; 
    overflow: hidden; 
    position: relative;
    border-radius: 50px 52px 39px 40px;
-webkit-border-radius: 50px 52px 39px 40px;
-moz-border-radius: 50px 52px 39px 40px;
border: 4px dotted #00497a;
}

.barba {
    width: 25%;
    color: 000C14; 
    font-size: 28px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 70px; 
    overflow: hidden; 
    position: relative;
    border-radius: 50px 52px 39px 40px;
-webkit-border-radius: 50px 52px 39px 40px;
-moz-border-radius: 50px 52px 39px 40px;
border: 4px dotted #00497a;
}

.tratamiento {
    width: 25%;
    color: 000C14; 
    font-size: 28px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 70px; 
    overflow: hidden; 
    position: relative;
    border-radius: 50px 52px 39px 40px;
-webkit-border-radius: 50px 52px 39px 40px;
-moz-border-radius: 50px 52px 39px 40px;
border: 4px dotted #00497a;
}

.niños {
    width: 25%;
    color: 000C14; 
    font-size: 28px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 70px; 
    overflow: hidden; 
    position: relative;
    border-radius: 50px 52px 39px 40px;
-webkit-border-radius: 50px 52px 39px 40px;
-moz-border-radius: 50px 52px 39px 40px;
border: 4px dotted #00497a;
}

.parrafo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}









